.err {
  background: #121212;
}
.err__container {
  max-width: 80rem;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.err__text {
  margin: 0 1rem;
  color: white;
  text-align: center;
  font-size: 1.6rem;
}
.err__img {
  margin: 0 auto;
}
@media (max-width: 830px) {
  .err__container {
    max-width: 60rem;
    min-height: 100vh;
  }
  .err__text {
    font-size: 1.5rem;
  }
  .err__img {
    img {
      width: 100%;
    }
  }
}
@media (max-width: 767px) {
  .err__text {
    font-size: 1.4rem;
  }
}

@media (max-width: 414px) {
  .err__text {
    font-size: 1.3rem;
  }
}

@media (max-width: 345px) {
  .err__text {
    font-size: 0.9rem;
  }
}