.fullwe {
   margin-bottom: 2rem;
}

.fullwe__item{
   padding: 1rem 6rem;
   margin: 0 auto;

}

.fullwe__photo {
   position: relative;
   z-index: 1;
   border: 1rem solid var(--purple-light);
   box-shadow: 0 0 1rem rgba(188, 156, 255, .7);
   border-radius: 2.22rem;
   overflow: hidden;

   img{
      width: 100%;
      height: auto;
   }
}

.fullwe__block{
   position: absolute;
   top: 0;
   z-index: 2;
   display: inline-block;
   height: 3rem;
   background-color: var(--purple-light);
   padding: 0 1.5rem;
   border-radius: 0 2rem 2rem 0;

}

.fullwe__initials{
   font-weight: 400;
   font-size: 2rem;
   color: var(--white);
}

//Media
@media (min-width: 1100px) {
   .fullwe__item {
      max-width: 55%;
   }
}
@media (max-width: 1099px) {
   .fullwe__item {
      padding: 1rem 4rem;
      max-width: 60%;
   }
}
@media (max-width: 992px){
   .fullwe__item {
      max-width: 70%;
   }
   .fullwe__photo {
      border-width: .9rem;
   }
}
@media (max-width: 767px){
   .fullwe__item {
      max-width: 77%;
   }
   .fullwe__photo {
      border-width: .7rem;
      border-radius: 2rem;
   }
   .fullwe__initials{
      font-size: 1.6rem;
   }
   .fullwe__block{
      height: 2.4rem;
   }
}
@media (max-width: 576px){
   .fullwe__item {
      max-width: 90%;
      padding: 1rem;
   }
}
@media (max-width: 414px){
   .fullwe__photo {
      border-width: .6rem;
      border-radius: 1.8rem;
   }
   .fullwe__initials{
      font-size: 1rem;
   }
   .fullwe__block{
      top: 14px;
      height: 1.5rem;
      padding: 0 .95rem;
   }
}

