.header{
  background-color: var(--gray-blue-light);
   padding: 1.2rem 0;
   position: relative;
}

.header.fixed {
   padding: .7rem 0;
   background-color: var(--blue-light);
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 9999;

   transform: translate3d(0, 0, 0);

   box-shadow: 0 3px 10px rgba(0, 0, 0, .2)
}

.header__inner{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

//Media
@media (max-width: 992px){
   .header{
      padding: .5rem 0;
   }
}
@media (max-width: 576px){
   .header.fixed{
      padding: .5rem 0;
   }
}