.history {
   max-width: 1800px;
   width: 100%;
   margin: 0 auto;
}

.history__items {
   display: flex;
   flex-wrap: wrap;
}

.history__item {
   flex-basis: 33.33333%;

   display: flex;
   flex-wrap: nowrap;
   margin-bottom: 2rem;
   padding: 0 1rem;
}

.history__photo {
   width: 100px;
   height: 100px;

   img {
      border-radius: 50%;
   }

}

.history__content {
   display: flex;
   flex-direction: column;
   margin-left: 1.2rem;
   padding: .5rem 0;
}

.history__text {
   height: 100%;
   font-size: 1.4rem;
   font-weight: 300;
   color: var(--black);
   margin-bottom: 1.2rem;
}

.history__autor {
   text-align: right;
   margin-right: 4rem;

   font-weight: 400;
   font-size: 1.2rem;
   line-height: 1;
   color: var(--gray);

   &::before {
      content: "";

      display: inline-block;
      margin-right: .5rem;
      vertical-align: middle;

      width: 3rem;
      height: 0.5rem;
      background-color: var(--blue-dark);
      border-radius: 2rem;
   }
}

//Media
@media (max-width: 1300px){
   .history__item{
      flex-basis: 50%;
   }
}
@media (max-width: 992px){
   .history__item{
      flex-basis: 100%;
   }
}
@media (max-width: 767px){
   .history__text{
      font-size: 1.15rem;
   }
   .history__autor{
      &::before{
         width: 2.6rem;
         height: 0.4rem;
      }
   }
}
@media (max-width: 576px){
   .history__text{
      font-size: 1rem;
   }
   .history__item{
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
   }
   .history__autor{
      text-align: center;
      margin-right: 0;
      &::before{
         width: 2.3rem;
         height: 0.33rem;
      }
   }
   .history__photo{
      margin-bottom: .5rem;
   }
   .history__content{
      margin-left: 0;
   }
}
@media (max-width: 414px){
   .history__text{
      font-size: .95rem;
   }
}