.modal {
   display: none;
   width: 100%;
   height: 100%;
   padding: 1rem;
   overflow: auto;

   background-color: rgba(0,0,0, .4);

   position: fixed;
   top: 0;
   left: 0;
   z-index: 10000;

   &.show {
      display: flex;
   }
}

body.dark .modal{
  background-color: rgba(101, 101, 101, 0.4);
}

.modal__dialog {
   border-radius: 0.5rem;
   position: relative;
   width: 100%;
   max-width: 900px;
   margin: auto;

   background-color: var(--white);

   transform: rotateX(90deg);
   transition: transform .2s linear;

   &--sm {
      max-width: 900px;
   }
}

.model__close {
   width: 34px;
   height: 34px;

   position: absolute;
   top: 0.9rem;
   right: 1.2rem;
   z-index: 1;
   cursor: pointer;
   background: none;
   border: 0;
   padding: 0;

   transition: transform .2s linear;

   &:hover {
      transform: translateY(-3px);
   }
}

.modal__content {
   padding: 1.2rem;
   display: flex;
   flex-direction: column;
   &-nikita {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
   }
   &-roma {
      display: flex;
      align-items: center;
   }
}

.modal__title {
   font-weight: 700;
   font-size: 3rem;
   text-transform: uppercase;
   margin: 0 0 1rem 0;
}
.modal__image {

   display: flex;
   width: 100%;
   height: 100%;
   max-width: 160px;
   max-height: 160px;
   margin: 0 1rem 0 0;
   flex: 1 1 auto;
   &-photo {
      object-fit: cover;
      overflow: hidden;
      border-radius: 0.5rem;
      vertical-align: top;
   }
}

.modal__text {
   font-size: 1.15rem;
   p {
      padding: 0;
      margin: 0;
   }
}

@media (max-width: 576px) {
   .modal__content {
      display: block;
      &-nikita {
         margin-bottom: 1.56rem;
         display: block;
      }
      &-roma {
         display: block;
      }
   }
   .modal__text {
      text-align: center;
   }
   .modal__image {
      width: 100%;
      margin: 0 auto 1rem ;
   }
}

@media (max-width: 414px) {
   .modal__text {
      font-size: 1.07rem;
   }
}