.section {
   margin: 8rem 0;
}

.section--slider{
   background-color: var(--gray-blue-light);
   padding: 4rem 0;
}

.section__header {
   max-width: 100%;
   margin: 0 auto;
   text-align: center;
}

.section__title {
   font-size: 3.3rem;
   font-weight: 400;
   text-transform: uppercase;
   color: var(--blue);
   font-family: 'Rubik Mono One', sans-serif;

   margin-bottom: 7rem;

   &::after{
      content: "";
      display: block;
      margin: 1.5rem auto;

      width: 20rem;
      height: 1rem;
      background-color: var(--blue-light);

      border-radius: 25px;
      box-shadow: 0 0 10px rgba(rgb(119, 155, 253), .24);
   }
}

//Media
@media (max-width: 992px){
   .section{
      margin: 7rem 0;
   }
   .section__title{
      font-size: 2.8rem;
      margin-bottom: 6rem;
      &::after{
         width: 18rem;
      }
   }
}
@media (max-width: 767px){
   .section{
      margin: 6rem 0;
      &--slider{
         padding: 3rem 0;
      }
   }
   .section__title{
      font-size: 2.5rem;
      margin-bottom: 5rem;
      &::after{
         width: 16rem;
      }
   }
}
@media (max-width: 576px){
   .section{
      margin: 5rem 0;
      &--slider{
         padding-bottom: 4rem;
      }
   }
   .section__title{
      font-size: 2.2rem;
      margin-bottom: 4rem;
      &::after{
         width: 15.2rem;
      }
   }
}
@media (max-width: 414px){
   .section{
      margin: 4.5rem 0;
      &--slider{
         padding: 1.5rem 0 3rem 0;
      }
   }
   .section__title{
      font-size: 2rem;
      margin-bottom: 3.5rem;
      &::after{
         width: 15rem;
         height: .9rem;
      }
   }
   .section--slider .section__title{
    margin-bottom: 3rem;
   }
}