.slick-arrow{
   display: block;
   font-size: 0;
   color: transparent;
   background: none;
   cursor: pointer;

   position: absolute;
   z-index: 1;
   top: 50%;
   transform: translateY(-50%);
}

.slick-arrow:focus{
   outline: none;
}
.slick-arrow::after{
   content: "";
   display: block;
   height: 2.2rem;
   width: 2.2rem;

   border-top: .5rem solid var(--blue-dark);
   border-left: .5rem solid var(--blue-dark);
}

.slick-prev{
   left: 0;
   transform: rotate(-45deg);
}

.slick-next{
   right: 0;
   transform: rotate(135deg);
}
//Media
@media (max-width: 992px) {
   .slick-arrow::after {
      height: 2.1rem;
      width: 2.1rem;

      border-top-width: .4rem;
      border-left-width: .4rem;
   }
}

@media (max-width: 767px) {
   .slick-arrow::after {
      height: 2rem;
      width: 2rem;

      border-top-width: .33rem;
      border-left-width: .33rem;
   }
}

@media (max-width: 576px) {
   .slick-arrow {
      top: 103.33%;
      margin: 0 3rem;
   }
}