@import "vars";

/*Обнуление*/
*,
*:before,
*:after,
*:focus {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   outline: 0;
   outline-offset: 0;
}

html,
body {
   height: 100%;
   font-family: 'Comfortaa', cursive;
   color: var(--black);
   line-height: 1.6;
   padding: 0;
   margin: 0;
   background-color: #fff;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

html {
   font-size: 15px;
}

body {
   font-size: 1rem;

   &.no-scroll {
      overflow: hidden;
   }
}

a {
   color: rgb(202, 165, 0);
   text-decoration: none;
}

ul {
   list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

p {
   margin: 0 0 10px;
}

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.main {
  background-color: var(--white);
  flex: 1 0 auto;
}



//Blocks
//=========================

//Conatainer
@import "blocks/container.scss";
//Helpers
@import "blocks/helpers.scss";
//Header
@import "blocks/header.scss";
//Autor
@import "blocks/autor.scss";
//Nav
@import "blocks/nav.scss";
//Intro
@import "blocks/intro.scss";
//Section
@import "blocks/section.scss";
//Block
@import "blocks/block.scss";
//History
@import "blocks/history.scss";
//Gallery
@import "blocks/gallery.scss";
//FullWe
@import "blocks/fullWe.scss";
//Slider
@import "blocks/slider.scss";
//Burger
@import "blocks/burger.scss";
//Footer
@import "blocks/footer.scss";
//Modal
@import "blocks/modal.scss";
//Error
@import "blocks/error.scss";