@charset "UTF-8";
:root {
  --black: #04052a;
  --gray: #6a696b;
  --gray-light: #8d8d8e;
  --gray-blue-light: #f7f7ff;
  --gray-midl-light: rgba(121, 121, 121, 0.4);
  --blue: #222222;
  --blue-light: #779bfd;
  --blue-medium: #4a78f7;
  --blue-dark: #2548a9;
  --purple-light: rgb(184, 171, 255);
  --white: #fff;
}

body.dark {
  --black: #fff;
  --gray: #dad9db;
  --gray-light: #c5c5c5;
  --gray-blue-light: #505050;
  --gray-midl-light: rgba(255, 255, 255, 0.4);
  --blue: #e2e2e2;
  --blue-light: #5371c3;
  --blue-medium: #3d62c6;
  --blue-dark: #1d3780;
  --purple-light: rgb(165, 157, 209);
  --white: rgb(51, 51, 51);
}

/*Обнуление*/
*,
*:before,
*:after,
*:focus {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: 0;
  outline-offset: 0;
}

html,
body {
  height: 100%;
  font-family: 'Comfortaa', cursive;
  color: var(--black);
  line-height: 1.6;
  padding: 0;
  margin: 0;
  background-color: var(--gray-blue-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 15px;
}

body {
  font-size: 1rem;
}

body.no-scroll {
  overflow: hidden;
}

a {
  color: rgb(202, 165, 0);
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  background-color: var(--white);
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  background-color: var(--gray-blue-light);
  padding: 1.2rem 0;
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.header.fixed {
  padding: 0.7rem 0;
  background-color: var(--blue-light);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .header {
    padding: 0.5rem 0;
  }
}
@media (max-width: 576px) {
  .header.fixed {
    padding: 0.5rem 0;
  }
}
.autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.autor__avatar {
  outline: none;
  width: 70px;
  height: 70px;
}
.autor__avatar-photo {
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.header.fixed .autor__avatar:hover img {
  -webkit-box-shadow: 0 0 20px 0.5px var(--gray-midl-light);
  box-shadow: 0 0 20px 0.5px var(--gray-midl-light);
}

.autor__avatar:focus-visible img {
  -webkit-box-shadow: 0 0 20px 0.5px var(--blue-dark);
  box-shadow: 0 0 20px 0.5px var(--blue-dark);
}

.autor__content {
  margin-left: 0.66rem;
  line-height: 1.2;
  margin-bottom: 0;
}

.autor__names {
  color: var(--blue);
  font-weight: 700;
  font-size: 1.06rem;
  line-height: 1.2rem;
  margin-bottom: 3px;
}

.autor__prof {
  color: var(--blue);
  font-weight: 400;
  font-size: 0.8rem;
}

@media (max-width: 414px) {
  .autor__names {
    font-size: 0.7rem;
  }

  .autor__prof {
    font-size: 0.6rem;
  }

  .autor__avatar {
    width: 60px;
    height: 60px;
  }
  .autor__avatar img {
    width: 60px;
    height: 60px;
  }
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav__link {
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--blue);
  font-size: 0.933rem;
  margin-left: 1rem;
}
.nav__link--btn {
  border: 2px solid var(--blue);
  border-radius: 25px;
  background: none;
  font-family: inherit;
  cursor: pointer;
  padding: 0.7rem 2rem;
  -webkit-transition: color 0.2s linear, background 0.2s linear,
    -webkit-box-shadow 0.2s linear, -webkit-transform 0.1s linear;
  transition: color 0.2s linear, background 0.2s linear,
    -webkit-box-shadow 0.2s linear, -webkit-transform 0.1s linear;
  transition: color 0.2s linear, background 0.2s linear, box-shadow 0.2s linear,
    transform 0.1s linear;
  transition: color 0.2s linear, background 0.2s linear, box-shadow 0.2s linear,
    transform 0.1s linear, -webkit-box-shadow 0.2s linear,
    -webkit-transform 0.1s linear;
}
.nav__link--btn:hover {
  background-color: var(--blue);
  color: var(--white);
  -webkit-box-shadow: 2px 2px 10px -2px var(--black);
  box-shadow: 2px 2px 10px -2px var(--black);
}
.nav__link--btn:active {
  -webkit-transform: translateY(0.2rem);
  transform: translateY(0.2rem);
}
.nav__link--btn:focus-visible {
  background-color: var(--blue);
  color: var(--white);
  -webkit-box-shadow: 2px 2px 10px -2px var(--black);
  box-shadow: 2px 2px 10px -2px var(--black);
  border: 0.3rem solid var(--blue-medium);
}

.nav__link::after {
  content: '';
  opacity: 0;
  width: 100%;
  height: 3px;
  background-color: var(--black);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.nav__link:hover:not(.nav__link--btn)::after,
.nav__link.active:not(.nav__link--btn)::after {
  opacity: 1;
  -webkit-transform: translateY(0.33rem);
  transform: translateY(0.33rem);
}

.nav__link:focus-visible:not(.nav__link--btn)::after {
  opacity: 1;
  -webkit-transform: translateY(0.33rem);
  transform: translateY(0.33rem);
  -webkit-box-shadow: 0px 5px 10px 3px var(--blue-medium);
  box-shadow: 0px 5px 10px 3px var(--blue-medium);
}

.swith__topic {
  fill: var(--blue);
  width: 40px;
  height: 40px;
}

.swith__topic:focus-visible {
  fill: var(--purple-light);
}

@media (max-width: 992px) {
  .nav {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: var(--blue-medium);
  }
  .header__inner.active .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav .nav__link--btn {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-left: 0;
  }
  .nav .nav__link:not(.nav__link--btn) {
    margin-left: 0;
    padding: 1rem 0;
    width: 100%;
    -webkit-transition: color 0.22s linear;
    transition: color 0.22s linear;
  }
  .nav .nav__link:not(.nav__link--btn)::after {
    display: none;
  }
  .nav .nav__link:not(.nav__link--btn):hover {
    color: var(--gray-blue-light);
  }

  .burger:focus-visible {
    border: 0.2rem solid var(--blue-dark);
  }

  .nav .nav__link:not(.nav__link--btn, .swith__topic):focus-visible {
    background-color: var(--blue-dark);
    color: var(--gray-blue-light);
  }

  .swith__topic {
    max-width: 40px;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 576px) {
  .nav .nav__link {
    font-size: 0.9rem;
  }
  .nav .nav__link--btn {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 7rem;
    padding-right: 7rem;
    margin-bottom: 1rem;
    margin-left: 0;
  }
}
@media (max-width: 414px) {
  .nav .nav__link {
    font-size: 0.8rem;
  }
  .nav .nav__link--btn {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 6rem;
    padding-right: 6rem;
    margin-bottom: 1rem;
    margin-left: 0;
  }
}
.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url('../images/intro.jpg') 0 no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 750px;
  background-color: rgb(102, 62, 233);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media (max-width: 1024px) {
  .intro {
    background-attachment: scroll;
  }
}

.intro__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 100%;
  color: #fff;
  padding: 16.0666rem 0;
  background-color: rgba(4, 5, 42, 0.92);
}

.intro__title {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 9rem;
  font-weight: 400;
  line-height: 1;
  text-shadow: 0 0 33px rgba(34, 34, 34, 0.33);
}

.intro__title span {
  font-size: 6rem;
}

.intro__suptitle {
  color: #04052a;
}

@media (max-width: 992px) {
  .intro__inner {
    padding: 18rem 0;
  }

  .intro__title {
    font-size: 7rem;
  }

  .intro__title span {
    font-size: 4rem;
  }
}
@media (max-width: 576px) {
  .intro__title {
    font-size: 5rem;
  }

  .intro__title span {
    font-size: 3rem;
  }

  .intro__inner {
    padding: 13.33rem 0;
  }

  .intro {
    height: 550px;
  }
}
@media (max-width: 414px) {
  .intro__title {
    font-size: 4.22rem;
  }

  .intro__title span {
    font-size: 2.22rem;
  }

  .intro {
    height: 500px;
  }

  .intro__inner {
    padding: 12.5rem 0;
  }
}

.section {
  margin: 8rem 0;
}

.section--slider {
  background-color: var(--gray-blue-light);
  padding: 4rem 0;
}

.fullwe .swiper-buttons::after {
  color: var(--blue-medium);
  font-weight: 500;
  font-size: 80px;
}

.fullwe .swiper-pagination {
  bottom: 0;
}

.fullwe .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  font-size: 14px;
  background-color: var(--blue-dark);
}

.section__header {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.section__title {
  font-size: 3.3rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--blue);
  font-family: 'Rubik Mono One', sans-serif;
  margin-bottom: 7rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.section__title::after {
  content: '';
  display: block;
  margin: 1.5rem auto;
  width: 20rem;
  height: 1rem;
  background-color: var(--blue-light);
  border-radius: 25px;
  -webkit-box-shadow: 0 0 10px rgba(119, 155, 253, 0.24);
  box-shadow: 0 0 10px rgba(119, 155, 253, 0.24);
}

@media (max-width: 992px) {
  .section {
    margin: 7rem 0;
  }

  .section__title {
    font-size: 2.8rem;
    margin-bottom: 6rem;
  }
  .section__title::after {
    width: 18rem;
  }
}
@media (max-width: 767px) {
  .section {
    margin: 6rem 0;
  }
  .swiper-wrapper {
    padding: 3rem 0;
  }

  .section__title {
    font-size: 2.5rem;
    margin-bottom: 5rem;
  }
  .section__title::after {
    width: 16rem;
  }
}
@media (max-width: 576px) {
  .section {
    margin: 5rem 0;
  }
  .swiper-wrapper {
    padding-bottom: 4rem;
  }

  .section__title {
    font-size: 2.2rem;
    margin-bottom: 4rem;
  }
  .section__title::after {
    width: 15.2rem;
  }
}
@media (max-width: 414px) {
  .section {
    margin: 4.5rem 0;
  }
  .swiper-wrapper {
    padding: 1.5rem 0 3rem 0;
  }

  .section__title {
    font-size: 2rem;
    margin-bottom: 3.5rem;
  }
  .section__title::after {
    width: 15rem;
    height: 0.9rem;
  }

  .section--slider .section__title {
    margin-bottom: 3rem;
  }
}
.block {
  text-align: center;
}

.block__text {
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--blue);
  margin: 3rem 0;
}

.block__photo {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  max-height: 960px;
  overflow: hidden;
  border: 1rem solid var(--purple-light);
  border-radius: 2.22rem;
  -webkit-box-shadow: 0 0 1rem rgba(184, 171, 255, 0.7);
  box-shadow: 0 0 1rem rgba(184, 171, 255, 0.7);
}

.block__img {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  line-height: 0;
  width: 1280px;
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .block__photo {
    border-width: 0.8rem;
    border-radius: 2rem;
  }

  .block__text {
    font-size: 1.6rem;
  }
}
@media (max-width: 576px) {
  .block__photo {
    border-width: 0.5rem;
    border-radius: 1.8rem;
  }

  .block__text {
    font-size: 1.4rem;
  }
}
@media (max-width: 414px) {
  .block__photo {
    border-width: 0.4rem;
    border-radius: 1.2rem;
  }

  .block__text {
    font-size: 1.1rem;
    margin: 2rem 0;
  }
}
.history {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}

.history__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.history__item {
  -ms-flex-preferred-size: 33.33333%;
  flex-basis: 33.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.history__photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.history__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 1.2rem;
  padding: 0.5rem 0;
}

.history__text {
  height: 100%;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--black);
  margin-bottom: 1.2rem;
}

.history__autor {
  font-style: normal;
  text-align: right;
  margin-right: 4rem;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1;
  color: var(--gray);
}
.history__autor::before {
  content: '';
  display: inline-block;
  margin-right: 0.5rem;
  vertical-align: middle;
  width: 3rem;
  height: 0.5rem;
  background-color: var(--blue-dark);
  border-radius: 2rem;
}

@media (max-width: 1450px) {
  .history__item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}
@media (max-width: 992px) {
  .history__item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .history__item:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .history__text {
    font-size: 1.15rem;
  }

  .history__autor::before {
    width: 2.6rem;
    height: 0.4rem;
  }
}
@media (max-width: 576px) {
  .history__text {
    font-size: 1rem;
  }

  .history__item {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .history__autor {
    text-align: center;
    margin-right: 0;
  }
  .history__autor::before {
    width: 2.3rem;
    height: 0.33rem;
  }

  .history__photo {
    margin-bottom: 0.5rem;
  }

  .history__content {
    margin-left: 0;
  }
}
@media (max-width: 414px) {
  .history__text {
    font-size: 0.95rem;
  }
}
.images__container {
  max-width: 1500px;
  margin: 0 auto;
}

.images__image {
  display: -ms-grid;
  display: grid;
  gap: 0.3rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-flow: dense;
}

.image__photo {
  position: relative;
  padding: 0 0 70% 0;
}
.image__photo-bigV {
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.image__img {
  vertical-align: top;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 700px) {
  .image__photo-big {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -ms-grid-row-span: 2;
    grid-row: span 2;
  }

  .image__img {
    position: absolute;
  }
}
@media (max-width: 700px) {
  .images__image {
    display: block;
  }

  .image__photo {
    padding: 0;
  }
}
.fullwe {
  margin-bottom: 2rem;
}

.fullwe__item {
  padding: 1rem 6rem;
  display: block;
  margin: 0 auto;
}

.fullwe__photo {
  position: relative;
  z-index: 1;
  border: 1rem solid var(--purple-light);
  -webkit-box-shadow: 0 0 1rem rgba(188, 156, 255, 0.7);
  box-shadow: 0 0 1rem rgba(188, 156, 255, 0.7);
  border-radius: 2.22rem;
  overflow: hidden;
}
.fullwe__photo img {
  display: block;
  width: 100%;
  height: auto;
}

.fullwe__block {
  position: absolute;
  top: 0;
  z-index: 2;
  display: inline-block;
  height: 3rem;
  background-color: var(--purple-light);
  padding: 0 1.5rem;
  border-radius: 0 2rem 2rem 0;
}

.fullwe__initials {
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  color: var(--white);
}

@media (min-width: 1100px) {
  .fullwe__item {
    max-width: 55%;
  }
}
@media (max-width: 1099px) {
  .fullwe__item {
    padding: 1rem 4rem;
    max-width: 60%;
  }
}
@media (max-width: 992px) {
  .fullwe__item {
    max-width: 70%;
  }

  .fullwe__photo {
    border-width: 0.9rem;
  }
}
@media (max-width: 767px) {
  .fullwe__item {
    max-width: 77%;
  }

  .fullwe__photo {
    border-width: 0.7rem;
    border-radius: 2rem;
  }

  .fullwe__initials {
    font-size: 1.6rem;
  }

  .fullwe__block {
    height: 2.4rem;
  }
}
@media (max-width: 576px) {
  .fullwe__item {
    max-width: 90%;
    padding: 1rem;
  }
}
@media (max-width: 414px) {
  .fullwe__photo {
    border-width: 0.6rem;
    border-radius: 1.8rem;
  }

  .fullwe__initials {
    font-size: 1rem;
  }

  .fullwe__block {
    top: 14px;
    height: 1.5rem;
    padding: 0 0.95rem;
  }
}

.fullwe .swiper-buttons:focus{
  outline: none;
}

.fullwe .swiper-button-prev:focus-visible::after {
  text-shadow: .3rem 0 .6rem var(--black);
}

.fullwe .swiper-button-next:focus-visible::after {
  text-shadow: -.3rem 0 .6rem var(--black);
}

@media (max-width: 992px) {
  .fullwe .swiper-buttons::after {
    font-size: 60px;
  }
}
@media (max-width: 767px) {
  .fullwe .swiper-buttons::after {
    font-size: 50px;
  }
}
@media (max-width: 576px) {
  .swiper-button-next, .swiper-button-prev {
    top: 100%;
  }
}
.burger {
  display: none;
  background: none;
  cursor: pointer;
  border: 0;
  padding: 9px 2px;
}

.burger__item {
  display: block;
  font-size: 0;
  color: transparent;
  width: 30px;
  height: 3px;
  background-color: var(--black);
  position: relative;
}

.header__inner.active .burger__item {
  background: none;
}

.burger__item::before,
.burger__item::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  position: absolute;
  left: 0;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.15s linear;
  transition: -webkit-transform 0.15s linear;
  transition: transform 0.15s linear;
  transition: transform 0.15s linear, -webkit-transform 0.15s linear;
}

.burger__item::before {
  top: -8px;
}

.header__inner.active .burger__item::before {
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate(45deg) translate3d(0, -3px, 0);
  transform: rotate(45deg) translate3d(0, -3px, 0);
}

.burger__item::after {
  top: 8px;
}

.header__inner.active .burger__item::after {
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate(-45deg) translate3d(0, 3px, 0);
  transform: rotate(-45deg) translate3d(0, 3px, 0);
}

@media (max-width: 992px) {
  .burger {
    display: block;
  }
}
.footer {
  padding: 2rem 0;
  background-color: #211e1f;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__when {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.1;
}

.footer__date {
  margin-left: 1rem;
}

.footer__who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__questions {
  margin-bottom: 0;
  color: #fff;
  font-weight: 400;
  vertical-align: bottom;
}

.footer__name {
  color: #fff;
  margin-left: 1rem;
  line-height: 1.1;
}
.footer__name:hover {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}
.footer__name:focus-visible {
  border-bottom: 0.3rem dashed white;
}

.footer__social {
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 400;
}

.footer__icons {
  vertical-align: middle;
}

@media (max-width: 992px) {
  .footer__time {
    font-size: 1.4rem;
  }

  .footer__social {
    font-size: 1.4rem;
  }
}
@media (max-width: 756px) {
  .footer {
    padding: 1.5rem 0;
  }

  .footer__time {
    font-size: 1.1rem;
  }

  .footer__social {
    font-size: 1.1rem;
  }
}
@media (max-width: 576px) {
  .footer__inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__when {
    margin-bottom: 1rem;
  }
}
@media (max-width: 414px) {
  .footer__inner {
    text-align: center;
  }

  .footer__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    line-height: 1.1;
  }

  .footer__when {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__time {
    margin-bottom: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__date {
    margin-left: 0;
  }

  .footer__questions {
    margin-bottom: 1rem;
  }

  .footer__person:not(:last-child) {
    margin-bottom: 1rem;
  }

  .footer__name {
    margin-left: 0;
  }
}
.modal {
  display: none;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
.modal[open] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.dark .modal {
  background-color: rgba(101, 101, 101, 0.4);
}

.modal__dialog {
  border-radius: 0.5rem;
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
  background-color: var(--white);
  -webkit-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
.modal__dialog--sm {
  max-width: 900px;
}

.model__close {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 0.9rem;
  right: 1.2rem;
  z-index: 1;
  cursor: pointer;
  background: none;
  border: 0;
  padding: 0;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
.model__close:hover {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
.model__close:focus-visible img {
  background-color: var(--purple-light);
}

.modal__content {
  padding: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.modal__content-nikita {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.modal__content-roma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal__title {
  color: var(--blue);
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
}

.modal__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 160px;
  max-height: 160px;
  margin: 0 1rem 0 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.modal__image-photo {
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  border-radius: 0.5rem;
  vertical-align: top;
}

.modal__text {
  color: var(--blue);
  font-size: 1.15rem;
}
.modal__text p {
  padding: 0;
  margin: 0;
}

@media (max-width: 576px) {
  .modal__content {
    display: block;
  }
  .modal__content-nikita {
    margin-bottom: 1.56rem;
    display: block;
  }
  .modal__content-roma {
    display: block;
  }

  .modal__text {
    text-align: center;
  }

  .modal__image {
    width: 100%;
    margin: 0 auto 1rem;
  }
}
@media (max-width: 414px) {
  .modal__text {
    font-size: 1.07rem;
  }
}